;>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
#include	<resource.h>
#include	<windef.h>
;>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
#define		DLG_MAIN		1000
#define		ID_BROWSE		1001
#define		ID_FILE			1002
#define		ID_OPEN_LIST	1004
#define		ID_NEW_LIST		1005

#define IDM_EXIT 203

#define IDB_PLAY 250
#define IDB_PAUSE 251
#define IDB_NEXT 252
#define IDB_PREVIOUS 253
#define IDB_1SINGLE 254
#define IDB_2REPEAT 255
#define IDB_3CYCLE 256
#define IDB_4RANDOM 257
IDB_PLAY BITMAP "resource/image/play.bmp"
IDB_PAUSE BITMAP "resource/image/pause.bmp"
IDB_NEXT BITMAP "resource/image/next.bmp"
IDB_PREVIOUS BITMAP "resource/image/previous.bmp"
IDB_1SINGLE BITMAP "resource/image/_1single.bmp"
IDB_2REPEAT BITMAP "resource/image/_2repeat.bmp"
IDB_3CYCLE BITMAP "resource/image/_3cycle.bmp"
IDB_4RANDOM BITMAP "resource/image/_4random.bmp"

;>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
1		ICON		"Main.ico"
;>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
DLG_MAIN	DIALOG DISCARDABLE  0, 0, 282, 49
STYLE		DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION		"Mp3 Player"
FONT		9, "ËÎÌו"
BEGIN
    
END

FirstMenu MENU 
{ 
 POPUP "&Files" 
        { 
         MENUITEM "&Add Music",ID_BROWSE
		 MENUITEM SEPARATOR 	
		 MENUITEM "&Open List",ID_OPEN_LIST
		 MENUITEM "&New List",ID_NEW_LIST
         MENUITEM SEPARATOR 
         MENUITEM "&Exit",IDM_EXIT 
        } 
} 
